@charset "utf-8";
body{
    color:#363c3c;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}


/*表紙*/
.cover{
    margin-top: -40px;
    margin-bottom: -30px;
    width: 100%;
    height: 700px;
    background: url("/images/cover.jpg") center center no-repeat;
    background-size: cover;
    }

.cover .cover-inner {
    height: 100%;
    margin-left:0px;
    display: inline-block;
}

.cover .cover-inner .cover-contents {
    margin-top: 50px;
    margin-left: 20px;
    vertical-align: bottom;
    text-align: center;
}
.cover .cover-inner .cover-contents h1 {
    margin: 0 0 30px 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-shadow: 4px 4px 1px #808080;
}

.cover .btn-info {
    background-color: skyblue;
}


/*検索ページ*/
.computer img{
    width: 100%;
    height: 300px;
    }
    
.bag img{
    width: 150px;
    height: 150px;
    }    

.btn-info{
    background-color:skyblue;
}

.my-skyblue {
    color:#ff1493;
    }

.item-title {
    /* 文の行数を2行に保ち、最後に ... を追加する */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card-header {
    height: 250px;
}
.card-header img {
    height: 100%;
    max-width: 100%;
}


/*ボタン共通*/
.btn-group{
    margin-right: 15px;
    margin-left:15px;
}



/*ランキングページ*/    
.ranking{
    color:gray;
    background-color: #fffda5;
    padding:5px;
}    

.key{
    display:inline-block;
    color:white;
    background-color: #ff9f8a;
    border-radius: 30%;
    padding: 5px;
} 



/*ユーザ詳細ページ*/
.your{
    color:gray;
    background-color: #fff4d6;
    padding:3px;
}

.ichiran{
    display:inline-block;
    color:white;
    background-color: #ffb000;
    border-radius: 50%;
    padding: 15px;
}


